
@{
	ViewBag.Title = "Menu";
}

<h2>Seleccione una opción</h2>
<div>
	<h4> @Html.ActionLink("Estampas faltantes", "ClaseB")</h4>
</div>
<div>
	<h4>@Html.ActionLink("Consulta de estampas", "AlbumB")</h4>
</div>
<div>
	<h4>@Html.ActionLink("Agregar nueva estampa", "Agregar")</h4>
</div>
