
@{
    ViewBag.Title = "Subir Detalle";
}

<h2>SubirDetalle</h2>
<body>
	<p>Seleccione el documento que inicia con "Detalles" el cual esta ubicado en la carpeta llamada "Ejemplo" ubicada en este proyecto</p>
	<p>Puede ingresar cualquier otro documento, mientras respete la nomenclatura ya establecida (para ello revisar el archivo antes mencionado)</p>
	<p> </p>
	@using (Html.BeginForm("SubirDetalle", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<input type="file" name="PostAdquirida" />
		<input type="submit" value="Importar" />
	}
</body>

